body {
    background-image: url("https://i.ibb.co/3zMHHnY/anime-witch-girl-owl-hallway-library-long-hair-anime-21104-2048x1536.jpg");
    font: bold 105% monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}
.centrado
{text-align:center;}
div{text-align:center;position: absolute;
    top:50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -100px;
    background: black;
    width: 200px;
    height: 300px;}
center{margin:16px 0;}

p{
    font: bold 125% monospace;
}

button {
    background-color: snow;
    color: black;
    font: bold 110% monospace;
    border: 2px solid purple;
}
button:hover {background-color: #ebd1ff
}